/*
= require_tree .
= require_self
*/
@import "bootstrap";

body {

  background-color: #E2ECFA;
  color: rgb(87, 87, 104);

  header {
    background-color: rgb(70, 68, 121);
    margin-top: 0;
    padding: 3px;
    color: rgb(231, 216, 171);
    margin-bottom: 30px;

    .title {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  #fire-model {
    a {
      color: rgb(70, 68, 121);
    }

    #content {
      width: 500px;
      margin: auto;
    }
  }
}
