@import "bootstrap";

body {

  #fire-model {

    #create-box {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 2px dotted rgb(198, 198, 198);

      form {

        .block {
          @extend .form-group;
        }

        input[type=text], textarea, select {
          @extend .form-control;
        }
        select {
          -webkit-box-shadow: none;
          box-shadow: none;
          background: #F6F6F6;
        }

        input[type=submit] {
          @extend .btn;
          @extend .btn-primary;
          background-color: rgb(70, 68, 121);
          border-color: rgb(59, 58, 85);
          &:hover {
            background-color: rgb(93, 90, 160);
            border-color: rgb(78, 77, 113);
          }
          &.disabled {
            background-color: rgb(111, 108, 190);
            border-color: rgb(100, 98, 144);
            &:hover {
              background-color: rgb(122, 118, 208);
              border-color: rgb(100, 98, 144);
            }
          }
        }
      }
    }

    .post {
      @extend .panel;
      @extend .panel-default;
      .heading {
        @extend .panel-heading;
        color: #FFF;
        background-color: #6C6AA8;
        border-color: #ddd;

        .title {
          @extend .panel-title;
        }
      }

      .body {
        @extend .panel-body;
      }
    }

    .list {
      @extend .list-group;
      .item {
        @extend .list-group-item;
      }
    }

  }

}