$body_background: #E2ECFA;
$link_color: #34d1f5;
$link_hover_color: #1ba7f5;
$content_link: rgb(70, 68, 121);
$grey_border: rgb(198, 198, 198);

$button_normal_bg: rgb(70, 68, 121);
$button_normal_border: rgb(59, 58, 85);

$button_hover_bg: rgb(93, 90, 160);
$button_hover_border: rgb(78, 77, 113);

$button_disabled_bg: rgb(111, 108, 190);
$button_disabled_border: rgb(100, 98, 144);

$button_disabled_hover_bg: rgb(122, 118, 208);
$button_disabled_hover_border: rgb(100, 98, 144);

$heading_color: #FFF;
$heading_background: #6C6AA8;
$heading_border: #ddd;

$nav_link_color: #8381cc;
$nav_link_border: #887AA8;

$nav_link_active_color: #6C6AA8;
$nav_link_active_border: #6C6AA8;

